@font-face {
  font-display: swap;
  font-family: Kum;
  src: url('../fonts/KumbhSans-Regular.ttf');
}

body {
  overflow: hidden;
}

:root {
  --scrollbar: #8f8f8f;
  --hover: #494949;
  --background: 0;
  --button: #21242d;
  --svg: #ffce45;
  --text: #000000;
  --reset: #f0f0f0;
  --select: #E6E8EA;
  --hover-button: #ccc;
}

.dark-mode {
  --scrollbar: #cccccc;
  --hover: #dddddd;
  --content-title-color: --theme-color;
  --background: 0.85;
  --button: #e6e6e6;
  --svg: #242424;
  --text: #ffffff;
  --reset: #545454;
  --select: #87888a;
  --hover-button: rgb(107, 107, 107);
}


/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.5vh;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

/* Cinematic bars*/
.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  left: 0%;
  z-index: 3;
}

@keyframes slideDown {
  0% {
    top: -20%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideBackUp {
  100% {
    top: -20%;
  }
}

.bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10%;
  background-color: black;
  left: 0%;
  z-index: 3;
}

@keyframes slideUp {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes slideBackDown {
  100% {
    bottom: -20%;
  }
}


/* Hud */
.wrapper {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0.5%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.main {
  position: relative;
}

.idnumber {
  font-size: 0.7rem;
  font-family: Kum;
  font-weight: bolder;
  fill: whitesmoke;
}

/* Progress Bar */
.progressplayer {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  overflow:none;
  stroke-linecap: round;
}

/* Pulse animation */
@keyframes pulseAnimation {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Phone UI Panel */
.panel-menu-wrapper {
  position: absolute;
  bottom: 3%;
  right: -50%;
  height: 80%;
  width: 25%;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  right: 0%;
}

@keyframes slide {
  100% { right: 0; }
}

.image-panel {
  display: flex;
  width: 40vh;
  height: 100%;
  z-index: 4;
}

.image-panel-background {
  position: absolute;
  width: 40vh;
  height: auto;
  filter: invert(var(--background));
  z-index: 4;
}

.alert {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 5%;
  border-radius: 6px;
  background-color: #8a8a8bea;
  top: 8%;
  animation: fadeIn 1.5s forwards;
  animation-delay: 0s;
  margin-right: 0.5%;
  z-index: 6;
  color: white;
  font-size: 0.7vw;
  font-family: Kum;
  text-align: center;
}

.alert-text {
  color: white;
  font-size: 0.7vw;
  font-family: Kum;
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.image-time-container {
  position: absolute;
  width: 5vh;
  height: 2vh;
  transform: translate(-260%, 200%);
  z-index: 5;
}

.image-time {
  display: flex;
  justify-content: center;
  font-size: 1.3vh;
  font-family: Kum;
  font-weight: bolder;
  color: var(--text);
}

.image-title {
  position: absolute;
  font-size: 2.0vh;
  font-family: Kum;
  font-weight: bolder;
  top: 9%;
  border-bottom: 2px solid gray;
  color: var(--text);
  z-index: 5;
}

.image-exit {
  position: absolute;
  font-size: 2.0vh;
  width: 40%;
  bottom: 4.5%;
  border-bottom: 0.8vh solid var(--scrollbar);
  border-radius: 6px;
  transition: 0.2s;
  z-index: 5;
}

.image-exit:hover {
  border-bottom: 0.8vh solid var(--hover);
}

.image-wrapper {
  position: absolute;
  top: 13%;
  width: 33.5vh;
  height: 80%;
  border-radius: 12px;
  overflow-y: scroll;
  z-index: 5;
}

.button-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  color: var(--text);
}

/* Buttons */
.invert-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 90%;
  height: 5vh;

  border-radius: 8px;
  border: none;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);

  margin-top: 5%;
  margin-left: 5%;
  margin-right: 15%;

  background-color: var(--button);/*DBDBDB*/

  font-size: 0.8vw;
  font-family: Kum;
  font-weight: 600;

  transition: 0.4s;
}

.invert-btn svg {
  width: 3vh;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: var(--svg);
  transition: 0.5s;
}

.switch {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 0 40%;
  height: 11vh;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.switch-top {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 0 40%;
  height: 11vh;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.switch input,
.switch-top input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: #C4C4C4;
  transition: .4s;
}

input:checked + .slider {
  background: #388eff;
}

.switch-title {
  position: absolute;
  top: 90%;
  font-size: 0.9vw;
  font-family: Kum;
  font-weight: bolder;
  text-align: center;
}

.slider-label {
  position: absolute;
  font-family: Kum;
  font-size: 2vh;
}

.slider-image {
  position: relative;
  margin-right: 5%;
  top: 20%;
  height: 6vh;
  width: 6vh;
}

/* Colorpicker */
.selection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 80%;
  height: 6vh;

  border-radius: 12px;
  border: none;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;

  font-size: 1vw;
  font-family: Kum;
  font-weight: 600;

  color: var(--text-mood);
  background-color: var(--reset);
}

.options {
  font-size: 0.8vw;
  background-color: var(--select);
}

select:focus {
  outline: none;
}

input[type="color" i] {
  appearance: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 90%; /* explanation below */
  height: 8vh;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;

  border-radius: 6px;
  
  background-color:var(--reset);
  cursor: default;
  color: var(--button);
  border-width: 0rem;
  border-style: solid;
  border-color: var(--button);
  padding: 0rem;
}

.reset-buttons,
.accept-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 40%; /* explanation below */
  height: 5vh;

  border-radius: 8px;
  border: none;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;

  font-size: 0.8vw;
  font-family: Kum;
  font-weight: 600;

  transition: 0.4s;

  color: var(--text-mood);
  background-color: var(--reset);
}

.reset-buttons:hover {
  background-color: var(--hover-button);
}

.reset-buttons:after {
  content: "";
  background: #f1f1f1;
  position: absolute;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 6px;
}

.accept-button:hover {
  background-color: var(--hover-button);
  color: rgb(90, 216, 0);
  font-size: 1.5vw;
}

.accept-button:after {
  content: "";
  background: #f1f1f1;
  position: absolute;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 6px;
} 

.reset-buttons:active:after,
.accept-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}