@font-face {
  font-display: swap;
  font-family: Kum;
  src: url('../fonts/KumbhSans-Regular.ttf');
}

/* Hud */
.wrapper {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0.5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.main {
  position: relative;
}

.time {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: Kum;
  font-weight: bolder;
  color:white;
}

.idnumber {
  font-size: 0.7rem;
  font-family: Kum;
  font-weight: bolder;
  fill: whitesmoke;
}

/* Progress Bar */
.progressplayer {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  overflow:none;
  stroke-linecap: round;
}

/* Pulse animation */
@keyframes pulseAnimation {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}  